body {
    background: #065535
}
@font-face {
    font-family: 'Fredoka One';
    src: url('/Fredoka_One/FredokaOne-Regular.ttf');
}

h1 {
    text-align: center;
    font-size: 45px;
    font-family: Fredoka One, 'Gill Sans';
    color: #FFE2A1;
}

